.about-section {
    background-image: url('/img/004.png');
    background-size: cover;         /* 이미지 꽉 차게 */
    background-position: center;    /* 중앙 정렬 */
    background-repeat: no-repeat;     
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.about_box{
  padding: 30px;
    width: 80%;
    height: 90vh;
    border-radius: 12px;
    background-color: #ffffffa7;
    box-shadow: black 0 2px 12px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h3{
      align-items: center;
      display: flex;
      color: #4356AD;
      font-weight: bold;
      font-size: 35px;
    }
}


.left_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.profile{
  border-radius: 17px;
  width:60%;
  height: 30%;
  background-color: gray;
}
.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  color :black;
  width:70%;
  height: 25%;
}
.skill{
    display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  color :black;
  width:70%;
  height: 25%;
}
.Language{
      display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  color :black;
  width:70%;
  height: 25%;
}
.right_box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  h1{
    font-size: 40px;
    font-weight: bold;
  }
}
.about_me{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color :black;
  width:100%;
  height: fit-content;
  border-bottom: solid 2px #4356AD;
}
.Education{
   display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  color :black;
  width:100;
  height: 30%;
}
.Project{
   display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  color :black;
  width:100;
  height: 30%;
}

  

